@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
@model bacit_dotnet.MVC.Models.RazorViewModel
<h2>Test </h2>
@{
    
    <h1>@Model.Content</h1>
    <h2>@Model.AdditionalData</h2>
}

=======
<h1>Nøsted Forside</h1>
>>>>>>> 87056fac16ae6a98972b109b06b80ace4651c75c
