<!DOCKTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <!--CSS-->

        <link rel="stylesheet" href="registration/registration.css"/>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <title>Responsive Registration Form</title>
    </head>
    <body>
        <div class="container">
            <header>Serviceskjema</header>


            <form action="#">
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Personlige Detaljer</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>Fornavn:</label>
                                <input type="text" placeholder="" required>
                            </div>

                        <div class="input-field">
                            <label>Etternavn:</label>
                            <input type="email" placeholder="" required>
                        </div>

                            <div class="input-field">
                                <label>Telefon nummer</label>
                                <input type="number" placeholder="" required>
                            </div>

                                <div class="input-field">
                                    <label>Email:</label>
                                    <input type="email" placeholder="" required>
                                </div>

                                <div class="input-field">
                                <label>Adresse:</label>
                                <input type="text" placeholder="" required>
                                </div>

                            <div class="input-field">
                                <label>Mottatt dato:</label>
                                <input type="date" placeholder="" required>
                            </div>
                                
                        </div>
                    </div>

                <div class="details ID"
                        <span class="title">Produkt detaljer</span>

                        <div class="fields">
                            <div class="input-field">
                                <label>Ordre nummer:</label>
                                <input type="text" placeholder="">
                            </div>

                            <div class="input-field">
                                <label>Produkttype:</label>
                                <input type="email" placeholder="" required>
                            </div>

                            <div class="input-field">
                                <label>Årsmodell:</label>
                                <input type="number" placeholder="" required>
                            </div>

                            <div class="input-field">
                                <label>Serienummer:</label>
                                <input type="text" placeholder="" required>
                            </div>

                            <div class="input-field">
                                <label>Sercice/rep garanti:</label>
                                <input type="text" placeholder="" required>
                            </div>

                            <div class="input-field">
                                <label>Ferdigstilles dato</label>
                                <input type="date" placeholder="" required>
                            </div>
                        </div>

                        <button class="nextBtn">
                            <span class="btnText"> Next </span>
                        <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                 </div>

            <div class="form first">
                <div class="description">
                    <span class="title"></span>
                    <div class="fields">
                        <div class="input-field">
                            <label>hva er avtalt med kunden?</label>
                            <input type="text" placeholder="" required>
                        </div>

                        <div class="input-field">
                            <label>Reparasjonsbeskrivelse:</label>
                            <input type="email" placeholder="" required>
                        </div>

                        <div class="input-field">
                            <label>Medgåtte deler</label>
                            <input type="number" placeholder="" required>
                        </div>

                        <div class="input-field">
                            <label>arbeidstimer:</label>
                            <input type="email" placeholder="" required>
                        </div>

                        <div class="input-field">
                            <label>utskriftet deler returnert:</label>
                            <input type="text" placeholder="" required>
                        </div>

                        <div class="input-field">
                            <label>Ferdigstilles dato:</label>
                            <input type="date" placeholder="" required>
                        </div>

                        <div class="buttons">
                        <div class="backBtn">
                            <span class="btnText"> Back </span>
                            <i class="uil uil-navigator"></i>
                        </div>

                        <button class="nextBtn">
                            <span class="btnText"> Next </span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>
