@model bacit_dotnet.MVC.Models.Checklist.ChecklistViewModel

<h1>Sjekkliste</h1>
<hr />

<form asp-controller="Checklist" asp-action="SaveNewChecklist" method="post">
    <div>
        <label for="SelectedOrderId">Order ID:</label>
        <select asp-for="SelectedOrderId" asp-items="@Model.OrderIds">
            <option value="">Velg en ordre...</option>
        </select>
    </div>
    <hr />
    <!-- Static checklist items -->
    <table>
        <thead>
            <tr>
                <th>Kategorier</th>
                <th>Sjekkpunkter</th>
                <th>OK</th>
                <th>Bør skiftes</th>
                <th>Defekt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk clutch lameller for slitasje</td>
                <td><input type="radio" name="Status[0]" value="OK" /></td>
                <td><input type="radio" name="Status[0]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[0]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk bremser. Bånd/Pal</td>
                <td><input type="radio" name="Status[1]" value="OK" /></td>
                <td><input type="radio" name="Status[1]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[1]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk lager for trommel</td>
                <td><input type="radio" name="Status[2]" value="OK" /></td>
                <td><input type="radio" name="Status[2]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[2]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk PTO og opplagring</td>
                <td><input type="radio" name="Status[3]" value="OK" /></td>
                <td><input type="radio" name="Status[3]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[3]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk kjedestrammer</td>
                <td><input type="radio" name="Status[4]" value="OK" /></td>
                <td><input type="radio" name="Status[4]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[4]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk wire</td>
                <td><input type="radio" name="Status[5]" value="OK" /></td>
                <td><input type="radio" name="Status[5]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[5]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk pinion lager</td>
                <td><input type="radio" name="Status[6]" value="OK" /></td>
                <td><input type="radio" name="Status[6]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[6]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Mekanisk</td>
                <td>Sjekk kile på kjedehjul</td>
                <td><input type="radio" name="Status[7]" value="OK" /></td>
                <td><input type="radio" name="Status[7]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[7]" value="Defekt" /></td>
            </tr>

            <tr>
                <td>Hydraulisk</td>
                <td>Sjekk hydraulikk sylinder for lekkasje</td>
                <td><input type="radio" name="Status[8]" value="OK" /></td>
                <td><input type="radio" name="Status[8]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[8]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Sjekk slanger for skader og lekkasje</td>
                <td><input type="radio" name="Status[9]" value="OK" /></td>
                <td><input type="radio" name="Status[9]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[9]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Test hydraulikkblokk i testbenk</td>
                <td><input type="radio" name="Status[10]" value="OK" /></td>
                <td><input type="radio" name="Status[10]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[10]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Skift olje i tank</td>
                <td><input type="radio" name="Status[11]" value="OK" /></td>
                <td><input type="radio" name="Status[11]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[11]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Skift olje på gir boks</td>
                <td><input type="radio" name="Status[12]" value="OK" /></td>
                <td><input type="radio" name="Status[12]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[12]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Sjekk Ringsylinder åpne og skift tetninger</td>
                <td><input type="radio" name="Status[13]" value="OK" /></td>
                <td><input type="radio" name="Status[13]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[13]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Hydraulisk</td>
                <td>Sjekk bremse sylinder åpne og skift tetninger</td>
                <td><input type="radio" name="Status[14]" value="OK" /></td>
                <td><input type="radio" name="Status[14]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[14]" value="Defekt" /></td>
            </tr>

            <tr>
                <td>Elektro</td>
                <td>Sjekk ledningsnett på vinsj</td>
                <td><input type="radio" name="Status[15]" value="OK" /></td>
                <td><input type="radio" name="Status[15]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[15]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Elektro</td>
                <td>Sjekk og test radio</td>
                <td><input type="radio" name="Status[16]" value="OK" /></td>
                <td><input type="radio" name="Status[16]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[16]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Elektro</td>
                <td>Sjekk og test knappekasse</td>
                <td><input type="radio" name="Status[17]" value="OK" /></td>
                <td><input type="radio" name="Status[17]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[17]" value="Defekt" /></td>
            </tr>

            <tr>
                <td>Trykk settinger</td>
                <td>xx-Bar</td>
                <td><input type="radio" name="Status[18]" value="OK" /></td>
                <td><input type="radio" name="Status[18]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[18]" value="Defekt" /></td>
            </tr>

            <tr>
                <td>Funksjonstest</td>
                <td>Test vinsj og kjør alle funksjoner</td>
                <td><input type="radio" name="Status[19]" value="OK" /></td>
                <td><input type="radio" name="Status[19]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[19]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Funksjonstest</td>
                <td>Trekkraft KN</td>
                <td><input type="radio" name="Status[20]" value="OK" /></td>
                <td><input type="radio" name="Status[20]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[20]" value="Defekt" /></td>
            </tr>
            <tr>
                <td>Funksjonstest</td>
                <td>Bremse kraft KN</td>
                <td><input type="radio" name="Status[21]" value="OK" /></td>
                <td><input type="radio" name="Status[21]" value="BørSkiftes" /></td>
                <td><input type="radio" name="Status[21]" value="Defekt" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Lagre</button>
</form>
