.table {
    border: 10px;
}

#OK, #BorSkiftes, #Defekt {
    width: 2%;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#mekanisk1, #mekanisk2, #mekanisk3, #mekanisk4, #mekanisk5, #mekanisk6, #mekanisk7, #mekanisk8{
    border-bottom: 1px solid black;
}

#Mekanisk, #Hydraulikk, #Elektro, #Trykksettinger, #Funksjonstest {
    width: 20%;
    height: auto;
    padding: 0.25rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

