<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nøsted</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
</head>
<body>
        <form runat="server">
            <div class="d-flex" id="wrapper">
                <div class="bg-light border-light" id="sidebar-wrapper">
                    <div class="sidebar-heading">Nøsted</div>
                    <div class="list-group list-group-flush">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light">Index</a>
                        <a asp-area="" asp-controller="ServiceOrder" asp-action="Index" class="list-group-item list-group-item-action bg-light">Serviceform</a>
                        <a asp-area="" asp-controller="ServiceOrder" asp-action="WorkDocument" class="list-group-item list-group-item-action bg-light">Work Document</a>
                        <a asp-area="" asp-controller="ServiceOrder" asp-action="Checklist" class="list-group-item list-group-item-action bg-light">Checklist</a>
                    </div>
                </div>
                <div id="page-content-wrapper">
                    <nav class="navbar navbar-expand-lg navbarS-light bg-light border-bottom">
                        <h1>Nøsted</h1>
                    </nav>
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </form>

</body>
</html>
