
<h1>Tilgang forbudt</h1>
<hr />
<p>Du har ikke tilgang til denne siden</p>
<p><a href="@Url.Action("Index", "Home")">Returner til hjemmesiden</a>
    
    <p>eller</p>

<p><a href="@Url.Action("Login", "Account")">Logg inn</a></p></p>
