@model List<bacit_dotnet.MVC.Models.ServiceOrdre.ChecklistViewModel>


@{
    ViewData["Title"] = "Checklist";
}
<link rel="stylesheet" href="~/css/ServiceOrder/Checklist.css" />
<script src="~/js/Form.js"></script>

<h1>Checklist</h1>

<table class="table">
    <form asp-action="Mekanisk" method="post" name="Mekanisk">
    <thead>
        <tr>
            <th id="Mekanisk">Mekanisk</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th> 
        </tr>
    </thead>
    </form>
 </table>

<form asp-action="Mekanisk" method="post" name="Mekanisk">
    <fieldset id="item">
        <label id="text">Sjekk crutch lameller for slitasje</label>
        <label id="button1"> <input type="radio" value="OK" name="mekanisk1" /></label>
        <label id="button2"> <input type="radio" value="BørSkiftes" name="mekanisk1" ></label>  
        <label id="button3"> <input type="radio" value="Defekt" name="mekanisk1"></label>
    </fieldset>


    <fieldset id="item">
        <label id="text">Sjekk brenser. Bånd/Pal</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk2"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk2"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk2"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk lager for trommel</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk3"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk3"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk3"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk PTO og opplagring</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk4"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk4"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk4"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk kjedestrammer</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk5"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk5"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk5"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk wire</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk6"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk6"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk6"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk pinion lager</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk7"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk7"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk7"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk kile på kjedehjul</label>
        <label id="button1"><input type="radio" value="OK" name="mekanisk8"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="mekanisk8"></label>
        <label id="button3"><input type="radio" value="Defekt" name="mekanisk"></label>
    </fieldset>
</form>
<br />


<table class="table">
    <thead>
        <tr>
            <th id="Hydraulikk">Hydraulikk</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
</table>

<form asp-action="Hydraulikk" method="post" name="Hydraulikk">
    <fieldset id="item">
        <label id="text">Sjekk hydraulikk sylinder for lekkasje</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk1"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk1"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk1"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk slanger for skader og lekkasje</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk2"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk2"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk2"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Test hydraulikkblokk i testbenk</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk3"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk3"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk3"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Skift olje i tank</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk4"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk4"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk4"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Skift olje på gir boks</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk5"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk5"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk5"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk ringsylinder åpne og skift tetninger</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk6"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk6"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk6"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk bremse og sylinder åpne og skift tetninger</label>
        <label id="button1"><input type="radio" value="OK" name="hydraulikk7"></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="hydraulikk7"></label>
        <label id="button3"><input type="radio" value="Defekt" name="hydraulikk7"></label>
    </fieldset>
</form>
<br />


<table class="table">
    <thead>
        <tr>
            <th id="Elektro">Elektro</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
</table>

<form asp-action="Elektro" method="post" name="Elektro">
    <fieldset id="item">
        <label id="text">Sjekk ledningsnett på vinsj</label>
        <label id="button1"><input type="radio" value="OK" name="elektro1" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="elektro1"></label>
        <label id="button3"><input type="radio" value="Defekt" name="elektro1"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk og test radio</label>
        <label id="button1"><input type="radio" value="OK" name="elektro2" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="elektro2"></label>
        <label id="button3"><input type="radio" value="Defekt" name="elektro2"></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Sjekk og test knappekasse</label>
        <label id="button1"><input type="radio" value="OK" name="elektro3" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="elektro3"></label>
        <label id="button3"><input type="radio" value="Defekt" name="elektro3"></label>
    </fieldset>
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th id="Trykksettinger">Trykksettinger</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
</table>

<form asp-action="Trykksettinger" method="post" name="Trykksettinger">
    <fieldset id="item">
        <label id="text">XX-Bar</label>
        <label id="button1"><input type="radio" value="OK" name="XXBar1" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="XXBar1" /></label>
        <label id="button3"><input type="radio" value="Defekt" name="XXBar1" /></label>
    </fieldset>
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th id="Funksjonstest">Funksjonstest</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
</table>

<form asp-action="Funksjonstest" method="post" name="Funksjonstest">
    <fieldset id="item">
        <label id="text">Teste Vinsj og kjør alle funksjoner</label>
        <label id="button1"><input type="radio" value="OK" name="funksjonstest1" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="funksjonstest1" /></label>
        <label id="button3"><input type="radio" value="Defekt" name="funksjonstest1" /></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Trekkraft KN</label>
        <label id="button1"><input type="radio" value="OK" name="funksjonstest2" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="funksjonstest2" /></label>
        <label id="button3"><input type="radio" value="Defekt" name="funksjonstest2" /></label>
    </fieldset>

    <fieldset id="item">
        <label id="text">Bremsekraft KN</label>
        <label id="button1"><input type="radio" value="OK" name="funksjonstest3" /></label>
        <label id="button2"><input type="radio" value="BørSkiftes" name="funksjonstest3" /></label>
        <label id="button3"><input type="radio" value="Defekt" name="funksjonstest3" /></label>
    </fieldset>
    <br />
</form>

<button type="submit" class="btn btn-primary" onclick="submitForms()">Submit</button>
