@model bacit_dotnet.MVC.Models.ServiceOrdre.Serviceform


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Serviceform</h4>
    <hr />
@if (Model.serviceform != null)
{
    foreach(var item in Model.serviceform)
    {     
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @item.OrderId
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @item.FirstName
        </dd>
    </dl>

    }
}
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


