@model bacit_dotnet.MVC.Models.ServiceOrdre.ServiceOrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Rediger serviceordre</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        <label asp-for="FirstName">Fornavn</label>
        <input asp-for="FirstName" class="form-control" placeholder="" />
        <br />

        <label asp-for="LastName">Etternavn</label>
        <input asp-for="LastName" class="form-control" placeholder="" />
        <br />

        <label asp-for="PhoneNumber">Telefonnummer</label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="" />
        <br />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="" />
        <br />

        <label asp-for="Address">Adresse</label>
        <input asp-for="Address" class="form-control" placeholder="" />
        <br />

        <label asp-for="ProductName">Produkt navn</label>
        <input asp-for="ProductName" class="form-control" placeholder="" />
        <br />

        <label asp-for="ProductType">Produkt type</label>
        <input asp-for="ProductType" class="form-control" placeholder="" />
        <br />

        <label asp-for="SerialNumber">Serienummer</label>
        <input asp-for="SerialNumber" class="form-control" placeholder="" />
        <br />

        <label asp-for="ModellYear">Årsmodell</label>
        <input asp-for="ModellYear" class="form-control" placeholder="" />
        <br />

        <label asp-for="RecivedOrder">Hendvendelse motatt</label>
        <input asp-for="RecivedOrder" type="date" class="form-control" />
        <br />

        <label asp-for="RecivedProduct">Produkt motatt</label>
        <input asp-for="RecivedProduct" type="date" class="form-control" />
        <br />

        <label asp-for="ReperationDescription">Reperasjonsbeskrivelse</label>
        <input asp-for="ReperationDescription" class="form-control" placeholder="" />
        <br />

        <label asp-for="Comment">Kommentar</label>
        <input asp-for="Comment" class="form-control" placeholder="" />
        <br />

        <label asp-for="AgreedServiceFinished">Avtalt ferdigstilt service</label>
        <input asp-for="AgreedServiceFinished" type="date" class="form-control" />
        <br />

        <label asp-for="AgreedDelivery">Avtalt levering</label>
        <input asp-for="AgreedDelivery" type="date" class="form-control" />
        <br />

        <label asp-for="DeliveryWay">Forsendelsesmåte</label>
        <input asp-for="DeliveryWay" class="form-control" placeholder="" />
        <br />

        <label asp-for="ServiceGaranti">Service garanti?</label>
        <select asp-for="ServiceGaranti" class="form-control" required>
            <option value="" selected disabled style="display: none;"></option>
            <option value="true">Ja</option>
            <option value="false">Nei</option>
        </select>
        <br />

        <label asp-for="ServiceDone">Service ferdig</label>
        <input asp-for="ServiceDone" type="date" class="form-control" />
        <br />

        <label asp-for="UsedParts">Medgåtte deler</label>
        <input asp-for="UsedParts" class="form-control" placeholder="" />
        <br />

        <label asp-for="ReturnedRemovedParts">Utskiftede deler returnert?</label>
        <select asp-for="ReturnedRemovedParts" class="form-control" required>
            <option value="" selected disabled style="display: none;"></option>
            <option value="true">Ja</option>
            <option value="false">Nei</option>
        </select>
        <br />


        <label asp-for="HoursUsed">Antall timer brukt</label>
        <input asp-for="HoursUsed" class="form-control" placeholder="" />
        <br />

        <label asp-for="CaseDone">Case ferdig?</label>
        <select asp-for="CaseDone" class="form-control" required>
            <option value="" selected disabled style="display: none;"></option>
            <option value="true">Ja</option>
            <option value="false">Nei</option>
        </select>
        <br />


        <label asp-for="SignatureCustomer">Signatur kunde</label>
        <input asp-for="SignatureCustomer" class="form-control" placeholder="" />
        <br />

        <label asp-for="SignatureMechanic">Signatur Reperatør</label>
        <input asp-for="SignatureMechanic" class="form-control" placeholder="" />
        <br />

        </div>
        </div>
<div>
    <a asp-action="Index">Oppdater</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}